@use './variables' as *;
.MainContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: $main;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .text-title,
    .text-subtitle {
      font-family: $font-family;
      font-weight: 500;
    }
    .container {
        padding: 1rem;
        height: 100%;
    }
}
